@font-face {
    src: url("digital-readout.light.ttf");
    font-family: Cursed Timer ULiL;
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 40px;
}

.cursed {
    font-family: Cursed Timer ULiL;
}